<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ocl/2015/Library"
            class="org.eclipse.ocl.pivot.oclstdlib.OCLstdlibPackage"
            genModel="model/oclstdlib.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Values NOT -->
      <!--package
            uri="http://ww.eclipse.org/ocl/2015/Values"
            class="org.eclipse.ocl.pivot.values.ValuesPackage"
            genModel="model/Values.genmodel"/-->
      <package
            uri="http://ww.eclipse.org/ocl/2015/Values"
            class="org.eclipse.ocl.pivot.values.impl.ValuesPackageImpl"
            genModel="model/Values.genmodel"/>
   </extension>
   
   <extension-point id="complete_ocl_registry" name="Complete OCL Registry" schema="schema/complete_ocl_registry.exsd"/>
   <extension-point id="label_generator" name="%_UI_LabelGenerator_extensionpoint" schema="schema/label_generator.exsd"/>
   <extension-point id="standard_library" name="OCL Standard Library" schema="schema/standard_library.exsd"/>


   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.emf.ecore.impl.DynamicEObjectImpl"
      	class="org.eclipse.ocl.pivot.labels.impl.DynamicEObjectImplLabelGenerator"/>
      <generator for="org.eclipse.emf.ecore.EAnnotation"
      	class="org.eclipse.ocl.pivot.labels.impl.EAnnotationLabelGenerator"/>
      <generator for="org.eclipse.emf.common.util.URI"
      	class="org.eclipse.ocl.pivot.labels.impl.EcoreURILabelGenerator"/>
      <generator for="org.eclipse.emf.ecore.EGenericType"
      	class="org.eclipse.ocl.pivot.labels.impl.EGenericTypeLabelGenerator"/>
      <generator for="org.eclipse.emf.ecore.ENamedElement"
      	class="org.eclipse.ocl.pivot.labels.impl.ENamedElementLabelGenerator"/>
      <generator for="org.eclipse.emf.ecore.EObject"
      	class="org.eclipse.ocl.pivot.labels.impl.EObjectLabelGenerator"/>
      <generator for="org.eclipse.ocl.pivot.ids.ElementId"
      	class="org.eclipse.ocl.pivot.labels.impl.ElementIdLabelGenerator"/>
      <generator for="org.eclipse.ocl.pivot.Nameable"
      	class="org.eclipse.ocl.pivot.labels.impl.NameableLabelGenerator"/>
      <generator for="java.lang.String"
      	class="org.eclipse.ocl.pivot.labels.impl.StringLabelGenerator"/>
   </extension>

</plugin>
