[project]
	state = active
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/modeling.mdt.ocl
	create = group ldap/modeling.mdt.ocl
	forgeAuthor = group ldap/modeling.mdt.ocl
	push = group ldap/modeling.mdt.ocl
	pushMerge = group ldap/modeling.mdt.ocl
	label-Code-Review = -2..+2 group ldap/modeling.mdt.ocl
	label-IP-Clean = -1..+1 group ldap/modeling.mdt.ocl
	label-Verified = -1..+1 group ldap/modeling.mdt.ocl
	submit = group ldap/modeling.mdt.ocl
[access "refs/tags/*"]
	create = group ldap/modeling.mdt.ocl
	pushTag = group ldap/modeling.mdt.ocl
	pushSignedTag = group ldap/modeling.mdt.ocl
