<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OCLstdlibCS -->
      <package
            uri="http://www.eclipse.org/ocl/2015/OCLstdlibCS"
            class="org.eclipse.ocl.examples.xtext.oclstdlib.oclstdlibcs.OCLstdlibCSPackage"
            genModel="model/OCLstdlibCS.genmodel"/>
   </extension>
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="oclstdlib" type="text" />
   </extension>

</plugin>
